body {
    background: whitesmoke
}

main {
    display: flex;
}

#screen {
    background: black;
    border: 1px solid lime;
    border-radius: 18px;
}

#info {
    height: 500px;
    width: 100px;
    background: whitesmoke;
    border: 1px solid black;
}